# Local mount paths
/opt/*

# External project mounts
/home/kirgizov/_projects/comfyui/*

# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# IntelliJ IDEA specific files
.idea/
.gigacode/
.gigaide/
*.iml